modules = ["web", "python-3.11", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3003

[[ports]]
localPort = 5004
externalPort = 4200

[[ports]]
localPort = 5005
externalPort = 5000

[[ports]]
localPort = 5006
externalPort = 3002

[[ports]]
localPort = 5007
externalPort = 5173

[[ports]]
localPort = 5008
externalPort = 6000

[[ports]]
localPort = 5009
externalPort = 6800

[[ports]]
localPort = 5010
externalPort = 8008

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyCHtidi7p50_ciBbOOr7xdLWpEU-4O9aY0"
VITE_FIREBASE_PROJECT_ID = "hospital-management-4e0a3"
VITE_FIREBASE_APP_ID = "1:284049979619:web:4f7cc085eff61aa02cedd6"
VITE_FIREBASE_AUTH_DOMAIN = "hospital-management-4e0a3.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET = "hospital-management-4e0a3.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "284049979619"
